@import '../styles/variable';
@import '../styles/mixin';

$prefix: "homepage";

.homepage {
    display: flex;
    height: 100%;

    .#{$prefix}-left {
        padding: 0 2rem;
        width: 69%;

        .ant-col>div {
            height: 16rem !important;
            background-color: white;
            border-radius: 1rem;
            filter: drop-shadow(2px 2px 15px rgba(70, 64, 67, 0.1));
        }

        .month-stat-chart {
            padding: 1rem;
            margin-top: 2rem;
            background-color: white;
            border-radius: 1rem;
            filter: drop-shadow(2px 2px 15px rgba(70, 64, 67, 0.1));

            .chart-title {
                color: black !important;
            }
        }
    }


    .homepage-right {
        width: 31%;
        background-color: white;
        border-radius: 1rem;
        min-height: 835px;

        .homepage-right-content {
            padding: 2rem;
        }


        .ant-col>div {
            height: 10rem !important;
            background-color: white;
            border-radius: 1rem;
            filter: drop-shadow(2px 2px 9px rgba(70, 64, 67, 0.1));
        }

        .calander-custom {
            height: 32rem !important;
            margin-top: 2rem;
            background-color: white;
            border-radius: 1rem;
            filter: drop-shadow(2px 2px 9px rgba(70, 64, 67, 0.1));
        }


    }
}


.stats-order-top {
    display: flex;
    padding: 1rem;

    p {
        font-size: 2rem;
        margin-left: 2rem;
        flex: 0.8;
        font-weight: 600;
    }
}

.stats-order-bottom {
    display: flex;
    padding-left: 1rem;
    align-items: center;


    p {
        font-size: 4rem;
        flex: 1;
        font-weight: 700;
        margin-bottom: 0;
    }

    span.increase-percent {
        display: flex;
        padding: 0.5rem;
        background-color: #ff950120;
        color: $orange_alta_400;
        margin-right: 1rem;
        font-size: 1.2rem;
        letter-spacing: 2px;
        border-radius: 15% / 50%;
        align-items: center;

        span {
            background-color: #ff950100;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 0;
            margin-left: 1rem;
        }
    }

    span.decrease-percent {
        display: flex;
        padding: 0.5rem;
        background-color: #E73F3F20;
        color: $color-status-error;
        margin-right: 1rem;
        font-size: 1.2rem;
        letter-spacing: 2px;
        border-radius: 15% / 50%;
        align-items: center;

        span {
            background-color: #E73F3F00;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 0;
            margin-left: 1rem;
        }
    }
}

.overview-data {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;

    .overview-data-left {
        display: flex;
        align-items: center;

        .zstack-description {
            margin-left: 1rem;

            p.data-quantity {
                font-size: 4rem;
                margin-bottom: 0;
                font-weight: 700;
            }

            span {
                display: flex;
                align-items: center;
                font-weight: 600;

                p {
                    margin-left: 0.5rem;
                    margin-bottom: 0;
                }
            }
        }
    }

    .overview-data-right {


        .badge-data {
            display: flex;
            align-items: baseline;
            justify-content: space-between;


            p {
                font-size: 2rem;
                font-weight: 700;
                margin-bottom: 0;
                margin-left: 1rem;
            }

            .ant-badge .ant-badge-status-text {
                font-size: 1.3rem !important;
            }

            .ant-badge .ant-badge-status-dot {
                width: 0.6rem;
                height: 0.6rem;
            }
        }
    }
}