.report-page {
    padding-left: 2.4rem;
}

.btn_download {
    width: 80px;
    height: 94px;
    background: #FFF2E7;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px 0px 0px 8px;
    color: #FF7506;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 30%;
    right: 0;

    p {
        text-align: center;
        width: 60%;
        margin-bottom: 0;
    }
}